name: Update Dependency Graph
on:
  push:
    branches:
      - main # default branch of the project
permissions:
  contents: write
jobs:
  dependency-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - uses: scalacenter/sbt-dependency-submission@v3
        with:
          configs-ignore: compile-internal optional test scripted-sbt
